<div class="PersonalSkills row">
    <h2>{{ about.PersonalSkills.title.en }}</h2>
    {% for content in about.PersonalSkills.content %}
        <div class="PersonalSkills-container columns small-24 small-centered medium-12 medium-uncentered large-8">
            <div class="PersonalSkills-chart" data-percent="{{ content.percentage }}">{{ content.title|raw }}</div>
        </div>
    {% endfor %}
</div>