<div class="PersonalSkills">
    <h2 class="PersonalSkills-title">{{ about.PersonalSkills.title.en }}</h2>
    <div class="PersonalSkills-container">
        {% for content in about.PersonalSkills.content %}
            <div class="PersonalSkills-chart" data-percent="{{ content.percentage }}">{{ content.title|raw }}</div>
        {% endfor %}
    </div>
</div>
