@import "app";

$c-bgRed: #E2241D;
$c-bgRed-darker: #BF1B1B;
$c-green: #6CC049;


.square1 { background-color: rgba($c-bgRed, .4); }
.square2 { background-color: transparent; }
.square3 { background-color: rgba($c-bgRed, .6); }
.square4 { background-color: rgba($c-bgRed, .8); }

/* ==================== claim block ==================== */

.Claim {
    background: url(../images/landing/header_img.jpg) center center repeat-x $c-black;
    background-size:cover;
    text-align: center;
    position: relative;
    padding: units(32px) 0;

    .Claim-box{
        display: table;
        height: 100%;
        margin: auto;
        width:90%;

        .Claim-box-vertical{
            display: table-cell;
            vertical-align: middle;
        }

        img{
            display: none;
            max-width: units(116px);
            position: absolute;
                bottom:0;
                right:0;
        }
    }

    .Claim-box-bg{
        background: rgba($c-black, .8) url(../images/landing/squares.jpg);
        background-repeat: repeat-y;
        overflow: hidden;
        position: relative;

        .Claim-box-title {
            display: block;
            padding: units(16px);
            color: $c-white;
            font-family: $t-lolaBold;
            font-size: units(32px);
            text-align: left;
            line-height: 1.2;
            margin-left: units(28px);
        }

        .Claim-box-author{
            display: none;
            color: $c-white;
            float: right;
            margin: 0 units(100px) units(20px) 0;
            text-align: right;
        }
    }
}

/* ----- claim block media screen ----- */

@media #{$small-up} {
    .Claim {
        padding: 5rem 0 0;
    }
}

@media #{$xmedium-up} {
    .Claim {
        padding: 5rem 0 0;
        .Claim-box{
            img{
                display: block;
            }
        }
    }
}

@media #{$medium-up} {
    .Claim {
        height: 448px;
        padding:0;
        .Claim-box-title {
            display: block;
            padding: 1rem;
            color: $c-white;
            font-family: $t-lolaBold;
            font-size: 2.5rem;
            text-align: left;
            margin-left: 1.5rem;
            span{
                max-width: none;
            }
        }
        .Claim-box{
            width:70%;
            img{
                display: block;
                position: absolute;
                bottom:0;
                right:0;
                max-width: none;
            }
        }
        .Claim-box-bg{
            .Claim-box-author{
                display: block;
            }
        }
    }
}

/* ==================== NewProducts block ==================== */

.NewProducts {
    margin: gutter(5) 0 0;

    .wrapper {
        .NewProducts-element {
            margin: 0 0 gutter(2);


            .NewProducts-element-image {
                display: block;
                width: 100%;
            }


            .NewProducts-element-content {
                background-color: $c-eroskiGrayDarker;
                font-family: $t-segoe;
                line-height: 110%;
                padding: gutter();

                .description {
                    margin-bottom: gutter();
                    font-size: units(17px);
                }

                .claim {
                    font-size: units(15px);
                }

                &.in-yellow {
                    color: $c-eroskiYellow;
                }

                &.in-green {
                    color: $c-green;
                }

                &.in-orange {
                    color: $c-eroskiOrangeLighter;
                }
            }
        }
    }

    .Mission {
        margin: 0 0 gutter(2);
        padding: gutter(1.5);
        background: $c-eroskiGrayLight;

        .Mission-title {
            margin-bottom: gutter(.5);
            font-size: units(24px);
        }

        .Mission-list {
            list-style-image: url(../images/landing/tick.png);
            list-style-position: outside;
            padding: 0 0 0 units(35px);

            li {
                padding: gutter(.5) 0;
                font-size: 1.2rem;
                color: $c-eroskiGray;
            }
        }

        .map-button {
            margin: gutter() 0 0;
        }
    }
}


/* ----- NewProducts block media screen ----- */

@media #{$medium-up} {

    .NewProducts {
        .wrapper {
            margin: 0 gutter(-0.5);
        }
    }

    .Mission {
        .map-button {
            a {
                float: right;
            }
        }
    }
}

/* ==================== DiscountOffered block ==================== */

.DiscountOffered{
    background: $c-bgRed;
    margin: 0 auto gutter(4);
    padding: gutter(2) 0 0;

    .DiscountOffered-title {
        color: $c-white;
        font-size: units(30px);
        line-height: 110%;
        text-align: center;
    }

    .DiscountOffered-left {

        img {
            margin: gutter(2) auto gutter(1);
        }

        .DiscountOffered-left_text {
            color: $c-white;
            display: none;
            margin: 0 auto;
        }
    }

    .DiscountOffered-details {
        margin: gutter(2) 0 0;

        .date {
            color: $c-black;
            display: block;
            font-size: units(20px);
            text-align: center;
        }

        .discount {
            color: $c-white;
            display: block;
            font-size: units(70px);
            line-height: 100%;
            text-align: center;
        }

        .place {
            color: $c-white;
            display: block;
            font-size: units(24px);
            line-height: 90%;
            text-align: center;
        }

        .description {
            border-bottom: solid units(1px) $c-white;
            color: $c-black;
            display: block;
            line-height: 120%;
            margin: gutter(.3) gutter(2.5) 0;
            padding: 0 0 gutter(2);
            text-align: center;
        }

        &.is-end {
            .description {
                border-bottom: 0;
            }
        }
    }

    .DiscountOffered-details:last-child {
        border-right: none;
    }

    .DiscountOffered-member {
        background: $c-bgRed-darker;
        padding: gutter(2) 0;
        text-align: center;

        .DiscountOffered-member_text {
            color: $c-white;
            font-size: units(22px);
            margin: 0 0 gutter();
        }

        a:hover {
            color: $c-bgRed-darker;
        }
    }
}

/* ----- DiscountOffered block media screen ----- */

@media #{$medium-up} {
    .DiscountOffered {
        .DiscountOffered-details {
            border-right: solid units(1px) $c-white;
            margin: gutter(2) 0;

            &.is-end {
                border-right: 0;
            }
        }

        .DiscountOffered-left {

            img {
                margin: 0;
            }

            .DiscountOffered-left_text {
                display: block;
                margin: 0 gutter(.5) 0;
                text-align: right;
            }
        }

        .DiscountOffered-details {
            .description {
                border-bottom: none;
                padding: 0;
            }
        }
    }
}

/* ==================== Featured block ==================== */

.Featured{
    padding: gutter(3) 0;
    background: url(../images/landing/featured-bg.png) top center;

    .Featured-title {
        font-family: $t-lolaBold;
        font-size: units(32px);
        text-align: center;
        color: $c-white;
        margin: 0 0 gutter(2);
    }

    .Featured-content {
        .wrapper {
            background: white;
            margin-bottom: gutter(3);
        }

        img{
            width: 100%;
        }

        .Featured-content-container {
            background-color: $c-white;
            padding: gutter(1.5);
        }

        .title {
            margin-bottom: gutter(.5);
            font-size: units(23px);
        }

        .description {
            font-size: units(16px);
            margin-bottom: gutter(.5);
            color:$c-eroskiGray;
            list-style: disc;
            padding-left: units(16px);
        }
    }
}

.Featured-footer {

    img {
        width: 100%;
    }

    .Featured-footer-content {
        position: relative;
        width: 100%;

        .Featured-footer-caption {
            background: rgba($c-eroskiRed, .9);
            padding: gutter() 0;
            width: 100%;
        }

        p {
            color: $c-white;
            line-height: 100%;
            text-align: center;
        }

        .Featured-footer-description {
            font-size: units(24px);
            margin: gutter() 0 0;
        }

        .Featured-footer-claim {
            font-size: units(36px);
        }
    }
}

/* ----- Featured block media screen ----- */

@media #{$medium-up} {
    .Featured-footer {
        .Featured-footer-content {
            .Featured-footer-caption {
                position: absolute;
                    bottom: 0;
            }
        }
    }
}