// =Font families
// --------------------------------------------------------------------------
@font-face{
    font-family:'Fs-Lola';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/fs_lola/FSLola.eot);
    src:url(../fonts/fs_lola/FSLola.eot?#iefix) format("embedded-opentype"),url(../fonts/fs_lola/FSLola.woff) format("woff"),url(../fonts/fs_lola/FSLola.ttf) format("truetype"),url(../fonts/fs_lola/FSLola.svg#Fs-Lola) format("svg")
}

@font-face{
    font-family:'Fs-Lola-Bold';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/fs_lola/fs_lola_bold-webfont.eot);
    src:url(../fonts/fs_lola/fs_lola_bold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/fs_lola/fs_lola_bold-webfont.woff) format("woff"),url(../fonts/fs_lola/fs_lola_bold-webfont.ttf) format("truetype"),url(../fonts/fs_lola/fs_lola_bold-webfont.svg#Fs-Lola) format("svg")
}

@font-face{
    font-family:'Segoe';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/segoe/segoe-print-bold.eot);
    src:url(../fonts/segoe/segoe-print-bold.eot?#iefix) format("embedded-opentype"),url(../fonts/segoe/segoe-print-bold.woff) format("woff"),url(../fonts/segoe/segoe-print-bold.ttf) format("truetype"),url(../fonts/segoe/segoe-print-bold.svg#Segoe) format("svg")
}

@font-face{
    font-family:'Calibri';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/calibri/calibri-webfont.eot);
    src:url(../fonts/calibri/calibri-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/calibri/calibri-webfont.woff) format("woff"),url(../fonts/calibri/calibri-webfont.ttf) format("truetype"),url(../fonts/calibri/calibri-webfont.svg#Calibri) format("svg")
}

@font-face{
    font-family:'Gotham-Bold';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/gotham/Gotham-Bold.eot);
    src:url(../fonts/gotham/Gotham-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/gotham/Gotham-Bold.woff) format("woff"),url(../fonts/gotham/Gotham-Bold.ttf) format("truetype"),url(../fonts/gotham/Gotham-Bold.svg#Gotham-Bold) format("svg")
}

@font-face{
    font-family:'Gotham-Book';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/gotham/Gotham-Book.eot);
    src:url(../fonts/gotham/Gotham-Book.eot?#iefix) format("embedded-opentype"),url(../fonts/gotham/Gotham-Book.woff) format("woff"),url(../fonts/gotham/Gotham-Book.ttf) format("truetype"),url(../fonts/gotham/Gotham-Book.svg#Gotham-Book) format("svg")
}

@font-face{
    font-family:'Gotham-Medium';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/gotham/Gotham-Medium.eot);
    src:url(../fonts/gotham/Gotham-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/gotham/Gotham-Medium.woff) format("woff"),url(../fonts/gotham/Gotham-Medium.ttf) format("truetype"),url(../fonts/gotham/Gotham-Medium.svg#Gotham-Medium) format("svg")
}

@font-face{
    font-family:'Georgia';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/georgia/Georgia.eot);
    src:url(../fonts/georgia/Georgia.eot?#iefix) format("embedded-opentype"),url(../fonts/georgia/Georgia.woff) format("woff"),url(../fonts/georgia/Georgia.ttf) format("truetype"),url(../fonts/georgia/Georgia.svg#Georgia) format("svg")
}

@font-face{
    font-family:'Georgia-Italic';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/georgia/Georgia-Italic.eot);
    src:url(../fonts/georgia/Georgia-Italic.eot?#iefix) format("embedded-opentype"),url(../fonts/georgia/Georgia-Italic.woff) format("woff"),url(../fonts/georgia/Georgia-Italic.ttf) format("truetype"),url(../fonts/georgia/Georgia-Italic.svg#Georgia-Italic) format("svg")
}

@font-face{
    font-family:'Georgia-Bold';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/georgia/Georgia-Bold.eot);
    src:url(../fonts/georgia/Georgia-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/georgia/Georgia-Bold.woff) format("woff"),url(../fonts/georgia/Georgia-Bold.ttf) format("truetype"),url(../fonts/georgia/Georgia-Bold.svg#Georgia-Bold) format("svg")
}

@font-face{
    font-family:'Georgia-BoldItalic';
    font-weight:'normal';
    font-style:'normal';
    src:url(../fonts/georgia/Georgia-BoldItalic.eot);
    src:url(../fonts/georgia/Georgia-BoldItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/georgia/Georgia-BoldItalic.woff) format("woff"),url(../fonts/georgia/Georgia-BoldItalic.ttf) format("truetype"),url(../fonts/georgia/Georgia-BoldItalic.svg#Georgia-BoldItalic) format("svg")
}