.g-row {
    @include clearfix;
    @include gridMarginAuto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: units($global-max-width);

    &.g-collapse {
        > .g-column {
            @include gridPaddingClear;
        }
        .g-row {
            @include gridMarginClear;
        }
    }

    .g-row {
        @include clearfix;
        @include gridMarginClear;
        width: auto;
        // margin-left: gutter(-.5);
        // margin-right: gutter(-.5);
        margin-top: 0;
        margin-bottom: 0;
        max-width: none;

        &.g-collapse {
            @include clearfix;
            width: auto;
            margin: 0;
            max-width: none;
        }
    }

}

.g-column {
    width: 100%;
    @include gridColumns();
}

[class*="g-column"] + [class*="g-column"]:last-child { float: left; }

@media #{$screen} {

    @for $i from 0 to $grid-columns {
        .g-small-push-#{$i} { @include gridPush($i); }
        .g-small-pull-#{$i} { @include gridPull($i); }
    }

    .g-column {
        position: relative;
        @include gridColumns();
    }

    @for $i from 1 through $grid-columns {
        .g-small-#{$i} { @include gridWidth($i); }
    }

    @for $i from 0 to $grid-columns {
        .g-small-offset-#{$i} { @include gridOffset($i); }
    }

    .g-column {
        .g-small-centered {
            @include gridMarginAuto;
            float: none;

            &:last-child {
                float: none;
            }
        }
    }

    .g-row {
        &.g-small-collapse {
            > .g-column {
                @include gridPaddingClear;
            }

            .g-row {
                @include gridMarginClear;
            }
        }
    }
}


@media #{$small-up} {

    @for $i from 0 to $grid-columns {
        .g-medium-push-#{$i} { @include gridPush($i); }
        .g-medium-pull-#{$i} { @include gridPull($i); }
    }

    .g-column {
        position: relative;
        @include gridColumns();
    }

    @for $i from 1 through $grid-columns {
        .g-medium-#{$i} { @include gridWidth($i); }
    }

    @for $i from 0 to $grid-columns {
        .g-medium-offset-#{$i} { @include gridOffset($i); }
    }

    .g-column {
        .g-medium-centered {
            @include gridMarginAuto;
            float: none;

            &:last-child {
                float: none;
            }
        }
    }

    .g-row {
        &.g-medium-collapse {
            > .g-column {
                @include gridPaddingClear;
            }

            .g-row {
                @include gridMarginClear;
            }
        }
    }

    @for $i from 0 to $grid-columns {
        .g-push-#{$i} { @include gridPush($i); }
        .g-pull-#{$i} { @include gridPull($i); }
    }
}

@media #{$medium-up} {

    @for $i from 0 to $grid-columns {
        .g-large-push-#{$i} { @include gridPush($i); }
        .g-large-pull-#{$i} { @include gridPull($i); }
    }

    .g-column {
        position: relative;
        @include gridColumns();
    }

    @for $i from 1 through $grid-columns {
        .g-large-#{$i} { @include gridWidth($i); }
    }

    @for $i from 0 to $grid-columns {
        .g-large-offset-#{$i} { @include gridOffset($i); }
    }

    .g-column {
        .g-large-centered {
            @include gridMarginAuto;
            float: none;

            &:last-child {
                float: none;
            }
        }
    }

    .g-row {
        &.g-large-collapse {
            > .g-column {
                @include gridPaddingClear;
            }

            .g-row {
                @include gridMarginClear;
            }
        }
    }

    @for $i from 0 to $grid-columns {
        .g-push-#{$i} { @include gridPush($i); }
        .g-pull-#{$i} { @include gridPull($i); }
    }
}