.ico--facebook,
.ico--twitter {
    display: block;
    background-position: center top;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    text-indent: 9999999px;
    overflow: hidden;
}

.ico--facebook {
    background-image: url(../images/eroski-ico-facebook.png);
}

.ico--twitter {
    background-image: url(../images/eroski-ico-twitter.png);
}