/* =TYPOGRAPHY
/* -------------------------------------------------------------------------- */

/* =Font familys
/* -------------------------------------------------------------------------- */

$t-robotoBlack: 'Roboto-Black', sans-serif;
$t-robotoBlackItalic: 'Roboto-BlackItalic', sans-serif;
$t-robotoBold: 'Roboto-Bold', sans-serif;
$t-robotoBoldItalic: 'Roboto-BoldItalic', sans-serif;
$t-robotoMedium: 'Roboto-Medium', sans-serif;
$t-robotoMediumItalic: 'Roboto-MediumItalic', sans-serif;
$t-robotoRegular: 'Roboto-Regular', sans-serif;
$t-robotoItalic: 'Roboto-Italic', sans-serif;
$t-robotoLight: 'Roboto-Light', sans-serif;
$t-robotoLightItalic: 'Roboto-LightItalic', sans-serif;
$t-robotoThin: 'Roboto-Thin', sans-serif;
$t-robotoThinItalic: 'Roboto-ThinItalic', sans-serif;
$t-serif: serif;

html, body {
    color: $c-text;
    font-family: $t-robotoLight;
    font-size: $global-font-size;
    font-weight: 300;
    line-height: $global-line-height;
}

section {
    margin: 0 auto;
}

a {
    text-decoration:none;
    -webkit-transition: all 0.3s ease-in;
       -moz-transition: all 0.3s ease-in;
         -o-transition: all 0.3s ease-in;
}

/* =Headings
/* -------------------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin-top: 0;
    margin-bottom: gutter();
}

h1,
.t-h1 {
    color: $c-neutroDarker;
    font-family: $t-robotoLight;
    font-size: units(33px);
    line-height: 120%;
}
h2,
.t-h2 {
    font-size: units(25px);
    line-height: 120%;
}
h3,
.t-h3 {
    font-size: units(25px);
    line-height: 120%;
}
h4,
.t-h4 {

}
h5,
.t-h5 {

}
h6,
.t-h6 {

}

p {
    color: $c-neutroDark;
    font-size: units(18px);
}

b, strong {
    font-family: $t-robotoMedium;
}
