/* =TYPOGRAPHY
/* -------------------------------------------------------------------------- */

/* =Font familys
/* -------------------------------------------------------------------------- */

$t-ralewayheavy: 'ralewayheavy', Arial, Helvetica,sans-serif;
$t-ralewayextrabold: 'ralewayextrabold', Arial, Helvetica,sans-serif;
$t-ralewaybold: 'ralewaybold', Arial, Helvetica,sans-serif;
$t-ralewaysemibold: 'ralewaysemibold', Arial, Helvetica,sans-serif;
$t-ralewaymedium: 'ralewaymedium', Arial, Helvetica,sans-serif;
$t-ralewayregular: 'ralewayregular', Arial, Helvetica,sans-serif;
$t-ralewaylight: 'ralewaylight', Arial, Helvetica,sans-serif;
$t-ralewayextralight: 'ralewayextralight', Arial, Helvetica,sans-serif;
$t-ralewaythin: 'ralewaythin', Arial, Helvetica,sans-serif;
$t-poiret: 'poiret', Arial, Helvetica,sans-serif;

html, body {
    color: $c-text;
    font-family: $t-ralewayregular;
    font-size: $global-font-size;
    line-height: $global-line-height;
}

section {
    margin: 0 auto;
}

a {
    text-decoration:none;
    -webkit-transition: all 0.3s ease-in;
       -moz-transition: all 0.3s ease-in;
         -o-transition: all 0.3s ease-in;
}

/* =Headings
/* -------------------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin-top: 0;
    margin-bottom: gutter();
}

h1,
.t-h1 {
    color: $c-neutroDarker;
    font-family: $t-ralewayregular;
    font-size: units(33px);
    line-height: 120%;
}
h2,
.t-h2 {
    font-size: units(25px);
    line-height: 120%;
}
h3,
.t-h3 {
    font-size: units(25px);
    line-height: 120%;
}
h4,
.t-h4 {

}
h5,
.t-h5 {

}
h6,
.t-h6 {

}

p {
    color: $c-neutroDark;
    font-size: units(18px);
}

b, strong {
    font-family: $t-ralewayregular;
}
