// =Variables
// --------------------------------------------------------------------------

// =Font size
// ------------------------------------------------------
$global-max-width: 1440px !default;
$global-medium-width: 800px !default;
$global-font-size-px: 16px !default;
$global-gutter: 15px !default;
$global-font-size: 100%;
$global-line-height: 1.5;
$global-units: rem;
$grid-columns: 12 !default;


// =Color
// --------------------------------------------------------------------------
$c-white: #fff;
$c-black: #000;
$c-selection: #00fff2;

$c-mainLighter: #ffdee2;
$c-mainLight: #fcbbc3;
$c-main: #f64159;
$c-mainDark: #ac535f;

$c-neutroLightest:  #e0e0e0;
$c-neutroLighter:   #bcbcbc;
$c-neutroLight:     #777777;
$c-neutro:          #535353;
$c-neutroDark:      #3a3a3a;
$c-neutroDarker:    #2b2b2b;
$c-neutroDarkest:   #1f1f1f;

// =UI colors
// ------------------------------------------------------ */
$c-body-bg: $c-neutroLightest;
$c-content-bg: $c-neutroLightest;
$c-text: $c-neutroDarker;
$c-hover: lighten($c-main,10%);

$c-borders: $c-neutro;
$c-link: $c-main;

// Here we define the lower and upper bounds for each media size
$xsmall-range:  0, 30rem;           /* 0, 480px */
$small-range:   30.063rem, 40rem;   /* 481px, 640px */
$xmedium-range: 40.063rem, 48rem;   /* 641px, 768px */
$medium-range:  48.063rem, 64rem;   /* 769px, 1024px */
$large-range:   64.063rem, 90rem;   /* 1025px, 1440px */
$xlarge-range:  90.063rem, 120rem;  /* 1441px, 1920px */
$xxlarge-range: 120.063rem;         /* 1921px */

// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (max-width: #{nth($xsmall-range, 2)})" !default;

$small-up: "#{$screen} and (min-width:#{nth($small-range, 1)})" !default;
$small-only: "#{$screen} and (min-width:#{nth($small-range, 1)}) and (max-width:#{nth($small-range, 2)})" !default;

$xmedium-up: "#{$screen} and (min-width:#{nth($xmedium-range, 1)})" !default;
$xmedium-only: "#{$screen} and (min-width:#{nth($xmedium-range, 1)}) and (max-width:#{nth($xmedium-range, 2)})" !default;

$medium-up: "#{$screen} and (min-width:#{nth($medium-range, 1)})" !default;
$medium-only: "#{$screen} and (min-width:#{nth($medium-range, 1)}) and (max-width:#{nth($medium-range, 2)})" !default;

$large-up: "#{$screen} and (min-width:#{nth($large-range, 1)})" !default;
$large-only: "#{$screen} and (min-width:#{nth($large-range, 1)}) and (max-width:#{nth($large-range, 2)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{nth($xlarge-range, 1)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{nth($xlarge-range, 1)}) and (max-width:#{nth($xlarge-range, 2)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{nth($xxlarge-range, 1)})" !default;

$retina: (
    "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
    "#{$screen} and (min--moz-device-pixel-ratio: 2)",
    "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
    "#{$screen} and (min-device-pixel-ratio: 2)",
    "#{$screen} and (min-resolution: 192dpi)",
    "#{$screen} and (min-resolution: 2dppx)"
);
