aside {
    background-color: $c-neutroLight;
    padding: 20px!important;
    text-align: left;

    @media #{$xmedium-up} {
        margin-bottom: gutter();
    }

    .introduction,
    .babySlider,
    .languageSkills,
    .categories,
    .contact,
    .social {
        padding: 0 0 gutter(1.2);
    }


    h2 {
        border-bottom: solid 3px $c-white;
        color: $c-mainLight;
        font-family: $t-poiret;
        font-size: units(18px);
        font-weight: 800;
        margin: 0 0 gutter() gutter(-1.3);
        padding: 0 0 gutter(.4) gutter(1.3);
    }

    p {
        color: $c-white;
        font-size: units(14px);
        font-weight: 300;
        margin-bottom: gutter();

        a {
            color: $c-white;
            text-decoration: underline;

            &:hover {
                color: $c-mainLight;
            }
        }
    }

    .categories-item {
        background: rgba($c-white, .5);
        border-left: solid 3px $c-main;
        color: $c-main;
        display: block;
        margin: units(5px) 0 units(5px) units(-20px);
        padding: units(8px) units(17px);

        &:hover {
            background: $c-main;
            color: $c-white;
            margin: units(5px) units(-20px) units(5px) 0;
        }
    }
}