.BlockMessage {
    background-color: $c-eroskiRed;

    .BlockMessage-title {
        font-family: $t-lolaBold;
        font-weight: 500;
        font-size: units(30px);
        line-height: 110%;
        color: $c-white;
        text-align: center;
        padding: gutter(2) 0;
    }

    &.BlockMessage--icon {
        .Squares {
            display: none;
        }
    }
}

@media #{$medium-up} {
    .BlockMessage {

        &.BlockMessage--icon {
            .Squares {
                display: block;
            }
            .BlockMessage-title {
                height: units(256px);
                padding-left: units(256px);

                .text {
                    display: block;
                    @include verticalAlign;
                }
            }
        }
    }
}