.Painting,
.Comics,
.Editorial,
.Branding,
.Photography,
.Publication {
    .overlay {
        background: $c-white;
        display: none;
        height: 100%;
        position: fixed;
            left: 0;
            top: 0;
        -webkit-transition: opacity .4s ease, visibility .4s ease;
           -moz-transition: opacity .4s ease, visibility .4s ease;
                transition: opacity .4s ease, visibility .4s ease;
        width: 100%;
        z-index: 5;
    }

    .overlay-content {
        overflow: auto;
        padding: 0 0 gutter(3);
        position: absolute;
            top: 15%;
            bottom: 0;
        width: 100%;
        z-index: 6;

        @media #{$small-up} {
            top: 9%;
        }

        .caption-container {
            margin: 0 auto;
            max-width: units(900px);
            width: 100%;

            @media #{$small-up} {
                margin: gutter() auto 0;
                width: 80%;
            }

            @media #{$medium-up} {
                width: 75%;
            }

            @media #{$large-up} {
                width: 70%;
            }

            img {
                display: block;
                height: auto;
                width: 100%;
            }

            .caption-content {
                background: $c-mainLighter;
                color: $c-main;
                padding: gutter(2) gutter();
                width: 100%;

                @media #{$xmedium-up} {
                    padding: gutter(2);
                }

                & > ul {
                    border-bottom: solid 1px $c-mainLight;
                    border-right: 0;
                    margin: 0;

                    @media #{$xmedium-up} {
                        border-right: solid 1px $c-mainLight;
                        border-bottom: 0;
                        padding: 0 gutter(2) 0 0;
                    }

                    & >li:nth-child(odd) {
                        background: rgba($c-white, .5);
                        color: $c-neutroDark;
                        font-family: $t-poiret;
                        font-size: units(20px);
                        font-weight: 800;
                        margin: 0 0 gutter(.2) gutter(-0.5);
                        padding: gutter(.2) gutter(.5);
                    }

                    & >li:nth-child(even) {
                        margin-bottom: gutter();
                    }
                }

                & > div {
                    padding: gutter(2) 0 0;

                    @media #{$xmedium-up} {
                        padding: 0 0 0 gutter(2);
                    }
                }
            }
        }
    }

    .overlay-close {
        background: $c-main;
        border-radius: 50%;
        color: $c-mainLight;
        cursor: pointer;
        font-family: $t-ralewaythin;
        font-size: units(30px);
        float: right;
        line-height: 1.2;
        padding: 0 units(10px);
        position: fixed;
            top: 16%;
            right: 30px;

        @media #{$small-up} {
            top: 12.5%;
        }

        @media #{$medium-up} {
            font-size: units(40px);
            padding: 0 units(12px);
            top: 11%;
        }

        @media #{$large-up} {
            font-size: units(50px);
            padding: 0 units(15px);
            top: 10.5%;
        }

        &:hover {
            color: $c-white;
            -webkit-transition: all 0.3s ease-in;
               -moz-transition: all 0.3s ease-in;
                 -o-transition: all 0.3s ease-in;
        }
    }

    .caption-title {
        background: $c-mainLight;
        color: $c-main;
        font-family: $t-poiret;
        font-size: units(22px);
        padding: gutter(.5) 0;
        position: relative;
        text-align: center;
        width: 100%;

        @media #{$small-up} {
            font-size: units(30px);
            padding: gutter() 0;
        }
    }
}

.Comics {
    .overlay-content {
        .caption-container {
            img {
                margin: 0 auto;
                max-width: units(500px);
            }
        }
    }
}

.Editorial,
.Publication {
    .overlay-content {
        .caption-container {
            img {
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                margin-bottom: units(5px);
            }
        }
    }
}

.Branding,
.Photography {
    .overlay-content {
        .caption-container {
            img {
                margin-bottom: units(5px);
            }
        }
    }
}