.PersonalSkills-chart {
    position: relative;
    color: $c-neutroDark;
    font-family: $t-raleway;
    font-size: units(16px);
    font-weight: 500;
    margin: 0 auto gutter(2);
    text-align: center;
}

.PersonalSkills-chart canvas {
    position: absolute;
        top: 0;
        left: 0;
}
