.ProfessionalSkills {
    .ProfessionalSkills-container {
        @media #{$medium-up} {
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: flex-start;
        }
    }
    .ProfessionalSkills-menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        position: relative;
        width: 100%;
        .ProfessionalSkills-menuItem a {
            background-color: $c-mainLighter;
            color: $c-main;
            display: block;
            padding: units(10px);
            @media #{$small-up} { padding: units(15px) 0; }
            @media #{$medium-up} {
                height: 20%;
                padding: units(22px) 0;
                position: absolute;
                left: 0; right: 0;
            }
        }
        .ProfessionalSkills-menuItem:nth-child(1) { width: 43%; }
        .ProfessionalSkills-menuItem:nth-child(2) { width: 32%; }
        .ProfessionalSkills-menuItem:nth-child(3) { width: 25%; }
        .ProfessionalSkills-menuItem:nth-child(4),
        .ProfessionalSkills-menuItem:nth-child(5) { width: 50%; }
        .ProfessionalSkills-menuItem a:hover,
        .ProfessionalSkills-menuItem.active a { background-color: $c-mainLight; }
        .ProfessionalSkills-menuItem:nth-child(1) a,
        .ProfessionalSkills-menuItem:nth-child(2) a,
        .ProfessionalSkills-menuItem:nth-child(4) a { border-right: 1px solid $c-white; }
        .ProfessionalSkills-menuItem:nth-child(1) a,
        .ProfessionalSkills-menuItem:nth-child(2) a,
        .ProfessionalSkills-menuItem:nth-child(3) a { border-bottom: 1px solid $c-white; }
        @media #{$small-up} {
            flex-wrap: nowrap;
            .ProfessionalSkills-menuItem:not(:last-child) a { border-right: 1px solid $c-white; }
        }
        @media #{$medium-up} {
            flex-wrap: wrap;
            width: 30%;
            .ProfessionalSkills-menuItem { width: 100%; }
            .ProfessionalSkills-menuItem:nth-child(1),
            .ProfessionalSkills-menuItem:nth-child(2),
            .ProfessionalSkills-menuItem:nth-child(3),
            .ProfessionalSkills-menuItem:nth-child(4),
            .ProfessionalSkills-menuItem:nth-child(5) { width: 100%; }
            .ProfessionalSkills-menuItem:not(:last-child) a { border-right: 0; border-bottom: 1px solid $c-white; }
        }
    }
    .ProfessionalSkills-content {
        display: none;
        padding: units(15px) units(20px);
        @media #{$medium-up} { width: 70%; }
    }
    #tab-1 { display: block; }
    .ProfessionalSkills-title {
        color: $c-neutroDark;
        display: block;
        font-family: $t-raleway;
        font-size: units(16px);
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: gutter(.5);

        @media #{$xmedium-up} {
            display: inline-block;
            margin-bottom: 0;
        }
    }
    .ProfessionalSkills-contentItem:not(:last-child) { margin-bottom: units(20px); }
    .ProfessionalSkills-chart {
        background: #e9e5e2;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
        background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
        background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
        background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
        background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
        background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
        border-radius: units(10px);
        box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
        height: units(12px);
        -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
        -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
        position: relative;

        .ProfessionalSkills-chartItem {
            background-color: $c-main;
            background-image: -webkit-gradient(linear, left top, left bottom, from($c-mainLighter), to($c-main));
            background-image: -webkit-linear-gradient(top, $c-mainLighter, $c-main);
            background-image: -moz-linear-gradient(top, $c-mainLighter, $c-main);
            background-image: -ms-linear-gradient(top, $c-mainLighter, $c-main);
            background-image: -o-linear-gradient(top, $c-mainLighter, $c-main);
            background-image: linear-gradient(top, $c-mainLighter, $c-main);
            height: units(8px);
            margin: units(1px) units(-2px) units(1px) units(2px);
            position: absolute;
            border-radius: units(10px);
            -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
            -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
            box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
            padding: 0;
        }

        .percent40 {
            animation: percent40 2s ease-out;
            -moz-animation: percent40 2s ease-out;
            -webkit-animation: percent40 2s ease-out;
            width: 40%;
        }
        .percent50 {
            animation: percent50 2s ease-out;
            -moz-animation: percent50 2s ease-out;
            -webkit-animation: percent50 2s ease-out;
            width: 50%;
        }
        .percent60 {
            animation: percent60 2s ease-out;
            -moz-animation: percent60 2s ease-out;
            -webkit-animation: percent60 2s ease-out;
            width: 60%;
        }
        .percent70 {
            animation: percent70 2s ease-out;
            -moz-animation: percent70 2s ease-out;
            -webkit-animation: percent70 2s ease-out;
            width: 70%;
        }
        .percent75 {
            animation: percent75 2s ease-out;
            -moz-animation: percent75 2s ease-out;
            -webkit-animation: percent75 2s ease-out;
            width: 75%;
        }
        .percent80 {
            animation: percent80 2s ease-out;
            -moz-animation: percent80 2s ease-out;
            -webkit-animation: percent80 2s ease-out;
            width: 80%;
        }
        .percent85 {
            animation: percent85 2s ease-out;
            -moz-animation: percent85 2s ease-out;
            -webkit-animation: percent85 2s ease-out;
            width: 85%;
        }
        .percent90 {
            animation: percent90 2s ease-out;
            -moz-animation: percent90 2s ease-out;
            -webkit-animation: percent90 2s ease-out;
            width: 90%;
        }
        .percent95 {
            animation: percent95 2s ease-out;
            -moz-animation: percent95 2s ease-out;
            -webkit-animation: percent95 2s ease-out;
            width: 95%;
        }
        .percent100 {
            animation: percent100 2s ease-out;
            -moz-animation: percent100 2s ease-out;
            -webkit-animation: percent100 2s ease-out;
            width: calc(100% - 4px);
        }
    }
}

@-moz-keyframes percent40 {0%  { width:0px;} 100%{ width:40%;}  }
@-moz-keyframes percent50 { 0%  { width:0px;} 100%{ width:50%;}  }
@-moz-keyframes percent60 { 0%  { width:0px;} 100%{ width:60%;}  }
@-moz-keyframes percent70 { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes percent75 { 0%  { width:0px;} 100%{ width:75%;}  }
@-moz-keyframes percent80 { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes percent85 { 0%  { width:0px;} 100%{ width:85%;}  }
@-moz-keyframes percent90 { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes percent95 { 0%  { width:0px;} 100%{ width:95%;}  }
@-moz-keyframes percent100 { 0%  { width:0px;} 100%{ width:calc(100% - 4px);}  }

@-webkit-keyframes percent40 {0%  { width:0px;} 100%{ width:40%;}  }
@-webkit-keyframes percent50 { 0%  { width:0px;} 100%{ width:50%;}  }
@-webkit-keyframes percent60 { 0%  { width:0px;} 100%{ width:60%;}  }
@-webkit-keyframes percent70 { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes percent75 { 0%  { width:0px;} 100%{ width:75%;}  }
@-webkit-keyframes percent80 { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes percent85 { 0%  { width:0px;} 100%{ width:85%;}  }
@-webkit-keyframes percent90 { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes percent95 { 0%  { width:0px;} 100%{ width:95%;}  }
@-webkit-keyframes percent100 { 0%  { width:0px;} 100%{ width:calc(100% - 4px);}  }
