.cd-top {
    background: rgba($c-main, .5) url("../images/to-top.png") no-repeat center 50%;
    display: inline-block;
    height: units(50px);
    opacity: 0;
    overflow: hidden;
    position: fixed;
        bottom: units(30px);
        right: units(30px);
    text-indent: 100%;
    visibility: hidden;
    transition: all .3s ease-in-out;
    white-space: nowrap;
    width: units(50px);
    z-index: 9;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    transition: all .3s ease-in-out;
}
.cd-top.cd-is-visible {
    opacity: 1;
    visibility: visible;
}
.cd-top.cd-fade-out {
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: $c-main;
    opacity: 1;
}