.cd-top {
    background: $c-main url("../images/to-top.png") no-repeat center 50%;
    display: inline-block;
    height: units(50px);
    opacity: 0;
    overflow: hidden;
    position: fixed;
        bottom: units(30px);
        right: units(30px);
    text-indent: 100%;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
       -moz-transition: opacity .3s 0s, visibility 0s .3s;
            transition: opacity .3s 0s, visibility 0s .3s;
    white-space: nowrap;
    width: units(50px);
    z-index: 9;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
       -moz-transition: opacity .3s 0s, visibility 0s 0s;
            transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    opacity: 1;
    visibility: visible;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: $c-main;
    opacity: 1;
}