<div class="Squares Squares--header">
    <div class="Squares-title g-row">
        {% include 'squares.twig' with { order: [1, 4, 3, 2] } only %}
        <div class="g-small-12 g-column">
            <div class="wrapper">
                <span class="title">{% block title %}{% endblock %}</span>
                <span class="subtitle">{% block subtitle %}{% endblock %}</span>
            </div>
        </div>
    </div>
    <div class="Squares-content g-row">
        <div class="g-small-12 g-column">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>