.About {
    .ProfessionalSkills,
    .PersonalSkills,
    .TechnicalSkills {
        margin-bottom: gutter(3);

        h2 {
            color: $c-main;
            font-family: $t-poiret;
            font-weight: 800;
            margin-bottom: gutter(3);
        }
    }
}
