.Branding {
    .branding-01 {
        background: url('../images/branding/branding-01-6.jpg') no-repeat center left;
        background-size: cover;
    }
    .branding-02 {
        background: url('../images/branding/branding-02-1.jpg') no-repeat bottom 10% center;
        background-size: cover;
    }
    .branding-03 {
        background: url('../images/branding/branding-03-1.jpg') no-repeat center center;
        background-size: cover;
    }
}