.Branding {
    .branding-01 {
        background: url('../images/branding/branding-01-6.jpg') no-repeat center left;
        background-size: cover;
    }
    .branding-02 {
        background: url('../images/branding/branding-02-1.jpg') no-repeat bottom 10% center;
        background-size: cover;
    }
    .branding-03 {
        background: url('../images/branding/branding-03-1.jpg') no-repeat center center;
        background-size: cover;
    }
    .branding-04 {
        background: url('../images/branding/branding-04-1.jpg') no-repeat top -40px center;
        background-size: cover;
    }
    .branding-05 {
        background: url('../images/branding/branding-05-1.jpg') no-repeat center center;
        background-size: cover;
    }
    .branding-06 {
        background: url('../images/branding/branding-06-3.jpg') no-repeat center center;
        background-size: cover;
    }
    .branding-07 {
        background: url('../images/branding/branding-07-4.jpg') no-repeat center center;
        background-size: cover;
    }
    .branding-08 {
        background: url('../images/branding/branding-08-1.jpg') no-repeat center center;
        background-size: cover;
    }
}