.Comics {
    .comics-01 {
        background: url('../images/comics/preview/comics-01.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-02 {
        background: url('../images/comics/preview/comics-02.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-03 {
        background: url('../images/comics/preview/comics-03.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-04 {
        background: url('../images/comics/preview/comics-04.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-05 {
        background: url('../images/comics/preview/comics-05.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-06 {
        background: url('../images/comics/preview/comics-06.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-07 {
        background: url('../images/comics/preview/comics-07.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-08 {
        background: url('../images/comics/preview/comics-08.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-09 {
        background: url('../images/comics/preview/comics-09.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-10 {
        background: url('../images/comics/preview/comics-10.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-11 {
        background: url('../images/comics/preview/comics-11.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-12 {
        background: url('../images/comics/preview/comics-12.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-13 {
        background: url('../images/comics/preview/comics-13.jpg') no-repeat center center;
        background-size: cover;
    }
    .comics-14 {
        background: url('../images/comics/preview/comics-14.jpg') no-repeat center center;
        background-size: cover;
    }
}
