.Editorial {
    .editorial-01 {
        background: url('../images/editorial/editorial-01-1.jpg') no-repeat center center;
        background-size: cover;
    }
    .editorial-02 {
        background: url('../images/editorial/editorial-02-1.jpg') no-repeat center center;
        background-size: cover;
    }
    .editorial-03 {
        background: url('../images/editorial/editorial-03-1.jpg') no-repeat center center;
        background-size: cover;
    }
    .editorial-04 {
        background: url('../images/editorial/editorial-04-1.jpg') no-repeat center center;
        background-size: cover;
    }
}