.Painting {
    .previewBlock {
        color: $c-main;
        display: block;
        height: units(200px);
        margin-bottom: gutter(3);
        width: 100%;

        @media #{$small-up} {
            height: units(250px);
        }

        @media #{$xmedium-up} {
            height: units(300px);
        }

        @media #{$medium-up} {
            height: units(350px);
        }

        @media #{$large-up} {
            height: units(400px);
        }

        .info-container {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }

        .info-content {
            position: absolute;
                left: 0;
                right: 0;
                top: 65%;
            text-align: center;

            @media #{$small-up} {
                top: 68%;
            }

            @media #{$xmedium-up} {
                top: 74%;
            }

            .info-title {
                color: $c-white;
                font-family: $t-poiret;
                font-size: units(25px);
                font-weight: 800;
                line-height: 3;
                text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);

                @media #{$small-up} {
                    font-size: units(30px);
                }

                @media #{$medium-up} {
                    font-size: units(35px);
                }

                @media #{$large-up} {
                    font-size: units(40px);
                }
            }

            .info-sudtitle {
                background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
                border-top: solid 3px $c-main;
                color: $c-main;
                display: block;
                font-size: units(14px);
                line-height: 1.2;
                margin: 0 auto;
                padding: gutter(.5) gutter() gutter(2);
                width: 90%;

                @media #{$small-up} {
                    font-size: units(16px);
                    padding: gutter() gutter() gutter(2);
                    width: 80%;
                }

                @media #{$medium-up} {
                    font-size: units(18px);
                }
            }
        }

        &:hover {
            .info-container {
                background: rgba($c-black, .6);
                -webkit-transition: all 0.3s ease-in;
                   -moz-transition: all 0.3s ease-in;
                     -o-transition: all 0.3s ease-in;
            }

            .info-content {
                top: 15%;
                -webkit-transition: all 0.3s ease-in;
                   -moz-transition: all 0.3s ease-in;
                     -o-transition: all 0.3s ease-in;

                @media #{$small-up} {
                    top: 20%;
                }

                @media #{$xmedium-up} {
                    top: 30%;
                }

                @media #{$medium-up} {
                    top: 35%;
                }

                @media #{$large-up} {
                    top: 40%;
                }

                .info-title {
                    color: $c-mainLight;
                }
            }
        }
    }

    .previewBlock-hidden {
        display: none;
    }

    .painting-01 {
        background: url('http://placekitten.com/g/400/500') no-repeat;
        background-size: cover;
    }
}