.Painting {
    .painting-01 {
        background: url('../images/painting/painting-01.jpg') no-repeat center center;
        background-size: cover;
    }
    .painting-02 {
        background: url('../images/painting/painting-02.jpg') no-repeat bottom 20% center;
        background-size: cover;
    }
    .painting-03 {
        background: url('../images/painting/painting-03.jpg') no-repeat center center;
        background-size: cover;
    }
    .painting-04 {
        background: url('../images/painting/painting-04.jpg') no-repeat top center;
        background-size: cover;
    }
    .painting-05 {
        background: url('../images/painting/painting-05.jpg') no-repeat center center;
        background-size: cover;
    }
    .painting-06 {
        background: url('../images/painting/painting-06.jpg') no-repeat top 25% center;
        background-size: cover;
    }
    .painting-07 {
        background: url('../images/painting/painting-07.jpg') no-repeat top 40% center;
        background-size: cover;
    }
    .painting-08 {
        background: url('../images/painting/painting-08.jpg') no-repeat bottom 30% center;
        background-size: cover;
    }
    .painting-09 {
        background: url('../images/painting/painting-09.jpg') no-repeat top 25% center;
        background-size: cover;
    }
    .painting-10 {
        background: url('../images/painting/painting-10.jpg') no-repeat top 50% center;
        background-size: cover;
    }
    .painting-11 {
        background: url('../images/painting/painting-11.jpg') no-repeat top 40% center;
        background-size: cover;
    }
    .painting-12 {
        background: url('../images/painting/painting-12.jpg') no-repeat top 25% center;
        background-size: cover;
    }
    .painting-13 {
        background: url('../images/painting/painting-13.jpg') no-repeat top 25% center;
        background-size: cover;
    }
    .painting-14 {
        background: url('../images/painting/painting-14.jpg') no-repeat top 25% center;
        background-size: cover;
    }
    .painting-15 {
        background: url('../images/painting/painting-15.jpg') no-repeat top 25% center;
        background-size: cover;
    }
    .painting-16 {
        background: url('../images/painting/painting-16.jpg') no-repeat top 25% center;
        background-size: cover;
    }
    .painting-17 {
        background: url('../images/painting/painting-17.jpg') no-repeat top 25% center;
        background-size: cover;
    }
    .painting-18 {
        background: url('../images/painting/painting-18.jpg') no-repeat top 25% center;
        background-size: cover;
    }
}
