.Photography {
    .photography-01 {
        background: url('../images/photography/photography-01-1.jpg') no-repeat center left;
        background-size: cover;
    }
    .photography-02 {
        background: url('../images/photography/photography-02-8.jpg') no-repeat top 10% center;
        background-size: cover;
    }
    .photography-03 {
        background: url('../images/photography/photography-03-1.jpg') no-repeat top 35% center;
        background-size: cover;
    }
    .photography-04 {
        background: url('../images/photography/photography-04-3.jpg') no-repeat top 35% center;
        background-size: cover;
    }
    .photography-05 {
        background: url('../images/photography/photography-05-1.jpg') no-repeat top 35% center;
        background-size: cover;
    }
    .photography-06 {
        background: url('../images/photography/photography-06-1.jpg') no-repeat top 15% center;
        background-size: cover;
    }
}
