.Publication {
    .publication-01 {
        background: url('../images/publication/preview/publication-01.jpg') no-repeat top center;
        background-size: cover;
    }
    .publication-02 {
        background: url('../images/publication/preview/publication-02.jpg') no-repeat top center;
        background-size: cover;
    }
    .publication-03 {
        background: url('../images/publication/preview/publication-03.jpg') no-repeat top center;
        background-size: cover;
    }
    .publication-04 {
        background: url('../images/publication/preview/publication-04.jpg') no-repeat top center;
        background-size: cover;
    }
    .publication-05 {
        background: url('../images/publication/preview/publication-05.jpg') no-repeat top center;
        background-size: cover;
    }
}