.RitualsBelle {

    .RitualsBelle-module {
        margin-bottom: gutter(3);

        .RitualsBelle-module-header {

            .g-column {
                padding: 0;
            }

            .image {
                background-position: center right;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: units(210px);
            }

            .info {
                font-family: $t-lola;
                min-height: units(210px);
                padding: gutter(2);

                .title {
                    font-family: $t-lolaBold;
                    font-size: units(21px);
                    margin-bottom: gutter();
                }

                a {
                    font-family: $t-lolaBold;
                }
            }

            .Button {
                margin: gutter(2) 0 0;
            }
        }


        .RitualsBelle-module-content {

            .image {
                img {
                    width: 100%;
                }
            }

            .info {
                padding: gutter(2);
                position: relative;

                ul {
                    margin: 0 0 gutter(2.5) gutter();

                    li {
                        list-style: disc;
                        font-family: $t-lolaBold;
                        margin: 0 0 gutter();
                    }
                }

                .price {
                    font-family: $t-lolaBold;
                    font-size: units(33px);
                    font-weight: 500;

                    .amount {
                        font-size: units(50px);
                        line-height: units(40px);
                    }
                }
            }
        }

    }
}