@media screen {
    .Header {
        position: relative;
        z-index: 5;
        // padding: gutter(3) 0 gutter(2);

        .Header-logo {
            position: absolute;
                left: gutter();
                top: gutter();
        }

        .Header-mobileMenuIcon {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            margin: 0.5rem;
        }


        .Header-menu {
            @include clearfix;
            display: none;

            &.is-open {
                display: block;
            }

            .menu-forDesktop {
                display: none;
            }
        }
    }
}

@media screen and (min-width:850px) {
    .Header {
        // position: fixed;
        // background: white;
        // z-index: 999;
        // width: 100%;

        .Header-logo {
            position: absolute;
                left: gutter();
                top: 50%;
                transform: translateY(-50%);
        }

        .Header-mobileMenuIcon {
            display: none;
        }

        .menu-forMobile {
            display: none;
        }

        .Header-menu {
            display: inline-block;
            float: right;

            .menu-forDesktop {
                display: inline-block;
                float:right;
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                font-size: 14px;

                ul {
                    margin: 0;

                    li {
                        float:left;

                        a {
                            color: rgba(252, 187, 195, 1);
                            font-size: units(14px);
                            padding: gutter(1.5) gutter() gutter();
                            display: block;
                            text-align:center;
                            color:rgba(252, 187, 195, 1);

                            &:hover {
                                background:rgba(246, 65, 89, 1);
                                color: white;
                            }
                        }

                        &:hover .sub-menu {
                            display:block;
                            position:absolute;
                            width:100px;
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                }

                .sub-menu {
                    display:none;

                    li a {
                        float:none;
                        width: 99px;
                        margin:0px;
                        line-height: 0em;
                        padding-bottom: 20px;
                        background: rgba(252, 187, 195, 1);
                        color: rgba(246, 65, 89, 1);
                        border: solid 2px rgba(246, 65, 89, 1);
                    }
                }

                .design-ul li a {
                    width: 127px;
                }
            }
        }
    }
}

nav li.active a {
    color:rgba(246, 65, 89, 1);
}

nav li.active a:hover {
    background:rgba(246, 65, 89, 1);
    color: white;
}

.sub-menu li a:hover,
nav li.active ul li a:hover {
    background: rgba(252, 187, 195, 1);
    color: white;
}