{% extends '../themes/'~ page.theme|default('default') ~'/base.twig' %}

{% block content %}
{% embed '../components/top-heading.twig' %}
    {% block link %}{{ topHeading.links[locale].toPhotography|raw }}{% endblock %}
    {% block claim %}{{ topHeading.branding[locale]|raw }}{% endblock %}
{% endembed %}

<section class="About">
    <div class="u-wrapper">
        <h1>{{ about[locale].title|raw }}</h1>
        <p>{{ about[locale].content|raw }}</p>
    </div>
</section>

{% endblock %}