{% extends '../themes/'~ page.theme|default('default') ~'/base.twig' %}

{% block content %}

<section class="Home">
    <div class="u-wrapper">
        <h1>{{ home[locale].title|raw }}</h1>
        <p>{{ home[locale].content|raw }}</p>
    </div>
</section>

{% endblock %}