.Cookies {
    display: none;
    font-family: $t-arial;
    width: 100%;
    padding: 50px 0 12px 0;
    margin: 0;
    bottom: 0;
    z-index: 999;
    border-bottom: 1px solid #ccc;
    background: #F5F5F5;

    div {
        position: relative;
        margin: 0 auto;
        padding: 0 0 0 0;
        max-width: 978px;
        font-size: 13px;
        line-height: 1.35em;
        text-align: left;
        color: #333;

        b {
            font-weight: 700;
        }

        svg {
            position: absolute;
            display: none !important;
            top: -2px;
            left: 10px;
            float: left;
            margin-right: 8px;
        }

        a {
            color: #fff;
            text-decoration: underline;

            &.Cookies-infoButton {
                display: inline-block;
                margin-top: 10px;
                margin-right: 8px;
                background: #dc042b;
                padding: 8px;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
            }

            &.Cookies-closeButton {
                display: inline-block;
                margin-top: 10px;
                margin-right: 10px;
                background: #333;
                padding: 8px;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
            }
        }

    }
}
